<div class="row">
{{#each this}}

    <div class="col-md-4">
        <div class="card">
            <img src="{{webformatURL}}" alt="">
            <div class="card-title">
                {{tags}}
            </div>
        </div>
    </div>  
{{/each}}
</div>