<div class="row">
{{#each this}}

    <div class="col-md-4">
        <div class="card" data-toggle="modal" data-target="#openModal">
            <img src="{{webformatURL}}" alt="" data-image="{{largeImageURL}}">
            <div class="card-title">
                {{tags}}
            </div>
        </div>
    </div>  
{{/each}}
</div>

